.dashboardWrapper {
    width: 100%;
    height: calc(100vh - 56px);
    /* 56px is standard Bootstrap navbar height */
    overflow: hidden;
    position: relative;
    background-color: #111217;
    /* Grafana-like dark background */
}

.grafanaIframe {
    width: 100%;
    height: 100%;
    border: none;
}